.main-title {
    text-align: center;
    background-color: aqua;
    border-radius: 6px;
    border: none;
}
main {
    display: flex;
    background-color: wheat;
    border-radius: 4px;
    border: none;
}
form {
    padding: 12px;
    background-color: beige;
} 
aside {
    padding: 48px;
}

.button {
    border: none;
    background-color: beige;
    border-radius: 4px;
}

.btn-bb {
    margin-top: 24px;
    margin-bottom: 16px;
}

.bg-hitung {
    background-color: cyan;
    color: white;
    padding: 4px;
    font-size: 12px;
}

.bg-reset {
    background-color: crimson;
    color: white;
    padding: 4px;
    font-size: 12px;
}

input[type=number] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

.registrasi {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: cyan;
    padding: 4px;
    font-size: 12px;
}

.konsultasi {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: cyan;
    padding: 4px;
    font-size: 12px;
}

footer {
text-align: center;
}